body{ 
	background-color:#dc8;
	font-size:16px; 
	margin:0; 
	padding:0; 
}

body, html, .container-fluid { /// take all available height
  height: 100%;
    margin: 0;
    padding: 0;
}

.article-tree {
  color: #DCE6E5;
  background: #2F323B;
}

.content-area {
  overflow: auto;
  height: 100%; /// explicit height to make scrolling work
}

.columns {
  height: 100%; /// columns should take all height
  margin-top: 42px; /// minus header
  margin-bottom: 20px; // minus footer
}

.columns > div {
    height: 100%; // make each column to take all available height
}

.footer {
  background: red;
  height: 20px;
}


#header{ 
	background-color:#996633;
	height:70px;
	padding-top: 1px;
	padding-left: 20px;
}

#left{ 
	padding-left: 5px;
	background-color:#dc8;
}

#center { 
	padding-left: 15px;
	background-color:#eec; 
}

.submit {
    background: transparent;
    border: 0;
    cursor:pointer;
    margin: 0;
    padding: 0;
    color: #034af3;
    text-decoration: underline;
}

.submit:visited {
    color: #505abc;
}

.submit:hover {
    color: #1d60ff;
    text-decoration: none;
}

.submit:active {
    color: #12eb87;
}

/* Fork me on github banner from: http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/ */
 .ribbon {
    background-color: #a00;
    overflow: hidden;
    /* top left corner */
    position: absolute;
    right: -3em;
    top: 2.5em;
    /* 45 deg ccw rotation */
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* shadow */
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
  }

  .ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
  }