@(builderForm : Form[BuilderStartForm])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

<html>
    <head>
        <title>Scala Project Builder - Build</title>
 		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
		@minified=@{ if (play.Play.isProd()) ".min" else "" }
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")"/>
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive"+ minified + ".css")"/>
   </head>
	<body>
		@helper.form(action = routes.Application.builderStartPost) {
        
		<div class="container-fluid">
			<div class="navbar" id="header">
				<h1>Scala Project Builder</h1>
			</div> 

  			<div class="row-fluid columns"> 
				<div class="span12 content-area" id="center">
       	    		<fieldset>
            			<legend>Basic Project Information</legend>
            
            
 			           	@inputText(
            		    	builderForm("projectName"),
                			'placeholder -> "enter a project name", 
                			'_label -> "Project Name", 
                			'_error -> builderForm.globalError
            			)		

            			@inputText(
                			builderForm("projectVersion"),
                			'placeholder -> "enter a version number", 
                			'_label -> "Project Version", 
                			'_error -> builderForm.globalError
            			)

						@select(
							field = builderForm("projectType"), options = options(
								"S210" -> "Scala 2.10",
								"P21"  -> "Play 2.1"
							),
          					'_label -> "Project Type",
          					'_error -> builderForm("projectType").error.map(_.withMessage("Select project type"))
          				)            
        			</fieldset>
        			
	       	    	<fieldset>
		            	<legend>Play configuration</legend>
        	    
    	    	     	@helper.checkbox(
        	    	 		builderForm("includeHerokuConfig"),
            	    		'_label -> "Include Heroku Configuration file", 
                			'_error -> builderForm.globalError,
							'_help -> ""
             			)
                		
        			</fieldset>
	       	    	<fieldset>
    		        	<legend>Akka configuration</legend>
            
    			     	@helper.checkbox(
             				builderForm("enableRemoting"),
		                	'_label -> "Enable Remoting", 
        		        	'_error -> builderForm.globalError,
                			'class -> "input-xlarge",
							'_help -> ""
        		     		)
            
    				</fieldset>
                    <div>
                         Click the button to build: 
                        <input type="submit" name="submitType" value="Build">
    					<p/>
    
        				Or click <a href="@routes.Application.index" class="submit">Cancel</a> to go back.
                    </div>
        			
        		</div>
			</div> 
		</div> 
    	}
	</body>
</html>