@(builderForm : Form[BuilderBuildForm])

@import helper._

<html>
    <head>
        <title>Scala Project Builder - Build</title>
 		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		@minified=@{ if (play.Play.isProd()) ".min" else "" }
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")">
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive"+ minified + ".css")">    
	</head>
	<body>
		@helper.form(action = routes.Application.builderBuildPost) {
        
		<div class="container">
			<div class="row-fluid">
  				<div class="span12" id="header">                
  					<h1>Scala Project Builder</a></h1>
  				</div>
			</div> 

			<div class="row-fluid">

      			<div class="span2" id="left">
	      			<ul>
        				<li><input type="submit" name="submitType" class="submit" value="Start"></li>
	        			<li><input type="submit" name="submitType" class="submit" value="Play configuration"></li>
    	    			<li><input type="submit" name="submitType" class="submit" value="Akka configuration"></li>
        				<li>Build Project</li>      			
      				</ul>
					<br/>
    				<a href="@routes.Application.index" class="submit">Cancel</a>
      			</div>
        
      			<div class="span10" id="center">
      				<h2>Build it</h2>
            		
            		<input type="submit" name="submitType" value="Build">
        		</div>
    		</div>
		</div>
    	}
	</body>
</html>