@(builderForm : Form[BuilderAkkaForm])

@import helper._

<html>
    <head>
        <title>Scala Project Builder - Build</title>
 		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
		@minified=@{ if (play.Play.isProd()) ".min" else "" }
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")"/>
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive"+ minified + ".css")"/>
	</head>
	<body>
		@helper.form(action = routes.Application.builderAkkaPost) {
        
		<div class="container">
			<div class="row-fluid">
  				<div class="span12" id="header">                
  					<h1>Scala Project Builder</h1>
  				</div>
			</div> 

			<div class="row-fluid">

      		<div class="span2" id="left">
      		
      			<ul>
        			<li><input type="submit" name="submitType" class="submit" value="Start"></li>
        			<li><input type="submit" name="submitType" class="submit" value="Play configuration"></li>
      				<li>Akka configuration</li>
        			<li><input type="submit" name="submitType" class="submit" value="Build Project"></li>      			
      			</ul>

				<br/>
        		<a href="@routes.Application.index" class="submit">Cancel</a>
				      		
      		</div>
        
      		<div class="span10" id="center">
       	    	<fieldset>
            	<legend>Akka configuration</legend>
            
             	@helper.checkbox(
             		builderForm("enableRemoting"),
                	'_label -> "Enable Remoting", 
                	'_error -> builderForm.globalError,
					'_help -> ""
             		)
            
        		</fieldset>
        	
        		</div>
        	</div>
      		</div>
    	}
	</body>
</html>