@(builderForm : Form[BuilderBuildForm],errors: List[code.builder.BuildValidationError])

@import helper._

<html>
    <head>
        <title>Scala Project Builder - Build</title>
 		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
		@minified=@{ if (play.Play.isProd()) ".min" else "" }

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive"+ minified + ".css")"/>
    </head>
	<body>
		@helper.form(action = routes.Application.builderBuildPost) {
        
		<div class="container">
			<div class="row-fluid">
  				<div class="span12" id="header">                
  					<h1>Scala Project Builder</h1>
  				</div>
			</div> 

			<div class="row-fluid">

      			<div class="span2" id="left">
	      			<ul>
        				<li><input type="submit" name="submitType" class="submit" value="Start"></li>
	        			<li><input type="submit" name="submitType" class="submit" value="Play configuration"></li>
    	    			<li><input type="submit" name="submitType" class="submit" value="Akka configuration"></li>
        				<li>Build Project</li>      			
      				</ul>
					<br/>
    				<a href="@routes.Application.index" class="submit">Cancel</a>
      			</div>
        
      			<div class="span10" id="center">
      				<h2>Build it</h2>

                    @if(errors.size > 0) {

                        <div>
                            <h3> Errors </h3>
                            <ul>
                            @errors.map { error =>
                                <li>@error.errorMessage</li>
                            }
                            </ul>

                            Correct errors before building the project
                        </div>
                    } else {
                        <div>
                             The project is ready to go, click 'Build' to generate the project.
                            <input type="submit" name="submitType" value="Build">
                        </div>
                    }
        		</div>
    		</div>
		</div>
    	}
	</body>
</html>