@(builderForm : Form[SBProject])

@import helper._

<html>
    <head>
        <title>Scala Project Builder - Build</title>
        <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css"></link>
    </head>
	<body>
       	<section id="top">
        	<div class="wrapper">
                <h1>Scala Project Builder</a></h1>
            </div>
	   	</section>
        
      	<div id="content" class="wrapper doc">
      	
   			@helper.form(action = routes.Application.builderBuild) {
        
       	    	<fieldset>
            	<legend>Account informations</legend>
            
            	@inputText(
                	builderForm("projectName"), 
                	'_label -> "Project Name", 
                	'_help -> "Please choose a valid project name.",
                	'_error -> builderForm.globalError
            	)
            
        	</fieldset>
        	
        	    <div class="actions">
            		<input type="submit" class="btn primary" value="Create!">
            		<br/>
            		<a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        	
        	}
        </div>
	</body>
</html>