@(builderForm : Form[BuilderBuildForm])

@import helper._

<html>
    <head>
        <title>Scala Project Builder - Build</title>
 		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
       </head>
	<body>
		@helper.form(action = routes.Application.builderBuildPost) {
        
    		<div id="header">
            	<h1 >Scala Project Builder</a></h1>
        	</div>

      		<div id="left">
      		
	      		<ul>
        			<li><input type="submit" name="submitType" class="submit" value="Start"></li>
        			<li><input type="submit" name="submitType" class="submit" value="Play configuration"></li>
        			<li><input type="submit" name="submitType" class="submit" value="Akka configuration"></li>
        			<li>Build Project</li>      			
      			</ul>
				<br/>
    			<a href="@routes.Application.index" class="submit">Cancel</a>
      		</div>
        
      		<div id="center">
       	    	<fieldset>
            	<legend>Build It</legend>
            
            
            		
            		<input type="submit" name="submitType" value="Build">
        		</fieldset>
        	</div>
    	}
	</body>
</html>